@font-face {
    font-family: "Big-Bottom-Cartoon";
    src: url("../fonts/Big_Bottom_Typeface_Normal.woff") format("woff");
}
@font-face {
    font-family: "Vag-Rounded-thin";
    src: url("../fonts/VAGRoundedStd-Thin.woff") format("woff");
}

@font-face {
    font-family: "Vag-Rounded-bold";
    src: url("../fonts/VAGRoundedStd-Bold.woff") format("woff");
}

