 :root{
     --big-bottom:"Big-Bottom-Cartoon";
     --vag-rounded:"Vag-Rounded-thin";
     --dark-blue:#203864;
     --white:#ffffff;
     --blood-red:#C91640;
}
 body,div,h1,h2,h3,h4,h5,h6,p,input,form,figure,img,header,footer,aside,section,article,a,ul,li,button,nav{
     margin: 0px;
     padding: 0px;
}
 a:hover, a, a:focus{
     text-decoration: none;
     color: inherit;
}
 *{
     box-sizing: border-box;
}
 input, textarea, button{
     outline: none;
}
 ul li{
     list-style: none;
}
 .tribe-dash .tribe-white{
     color: #fff !important;
}
 .tribe-dash .tribe-profile-search:focus,.tribe-dash .tribe-post-search:focus{
     color: #fff;
}
 .tribe-dash #main-footer,.tribe-dash .tribe-et_social_sidebar_networks ,.tribe-dash .tribe-et_social_mobile{
     display: none !important;
}
 .tribe-wholepage{
     width: 100%;
     overflow-y: hidden;
     overflow-x: hidden;
     margin: 0 auto;
     color: var(--white);
}
 .tribe-header-container{
     width: 1100px;
     margin:0 auto;
}
 #header{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-top: 20px;
     align-items: flex-end;
}
 .tribe-main-logo {
     position: fixed;
     margin-top: 61px;
}
 .tribe-main-logo img{
     width: 120px;
     object-fit: cover;
     object-position: center;
}
 .tribe-search-bar{
     flex: 0 0 49%;
     padding-bottom: 7px;
     position: relative;
}
 .tribe-fa{
     position: absolute;
     right: 13px;
     top: 6px;
}
 .tribe-top-text{
     flex: 0 0 49%;
     padding-left: 22px;
}
 .tribe-top-text h1{
     color: #203864;
     font-family: var(--big-bottom);
     line-height: 1.8;
     font-size: 35px;
     letter-spacing: 2px;
     padding-bottom: 32px;
}
 .tribe-mid-part{
     display: flex;
     border-top: 3px dashed;
     border-bottom: 3px dashed;
     border-color: var(--dark-blue);
     border-spacing: 5px;
     padding:36px 0px 24px 0px;
}
 .tribe-search-bar>input{
     width: 100%;
     border-radius: 5px;
     background: var(--dark-blue);
     border: 0px;
     line-height: 30px;
     height: 30px;
     font-family: var(--big-bottom);
     text-align: left;
     padding-bottom: 10px;
     box-sizing: border-box;
     color: var(--white);
     padding-right: 35px;
     padding-left: 15px;
}
 ::placeholder{
     color: var(--white);
}
 .tribe-first-part img{
     width: 245px;
}
 .tribe-second-part{
     padding-left: 55px;
     text-align: center;
}
.tribe-top-part img,.tribe-bot-part img{
    width: 120px;
    height: auto;
    object-position: center;
    }
    .tribe-top-part img:hover,.tribe-bot-part img:hover{
        opacity: 0.5;
    }
 /*.tribe-top-part{
     background: #4473C5;
     width: 124px;
     height: 126px;
     border-radius: 20px;
}
}
 .tribe-bot-part{
     background: #01B0F1;
     width: 124px;
     height: 126px;
     border-radius: 20px;
     margin-top: 25px;
}
 .tribe-top-part > h3,.tribe-bot-part > h3{
     font-family: var(--big-bottom);
     line-height: 1.8;
     font-weight: normal;
     font-size: 15px;
     padding-top: 19px;
     padding-bottom: 9px;
}
 .tribe-dow-btn{
     font-family: var(--big-bottom);
     font-weight: normal;
     font-size: 12px;
     border: 2px solid var(--white);
     border-radius: 5px;
     display: inline-block;
     line-height: 12px;
     padding: 9px;
}
 .tribe-dow-btn:hover{
     background-color: rgba(0,0,0,0.2);
}*/
 .tribe-third-part{
    padding-left: 45px;
 }
 .tribe-third-part img{
     width: 147px;
     padding-left: 66px;
}
 .tribe-third-part img:hover{
     opacity: 0.7;
}
 .tribe-fourth-part{
     height: 120px;
     border-radius: 15px;
     background: var(--dark-blue);
     margin-left: 76px;
}
 .tribe-white-box > img{
     width: 80px;
     height: 80px;
     object-fit: cover;
     object-position: center;
     border-radius: 10px;
}
 .tribe-right-content>input{
     width: 100%;
     background: var(--dark-blue);
     border: 0px;
     font-size: 8px;
     line-height: 30px;
     height: 30px;
     font-family: var(--big-bottom);
     text-align: center;
     padding-bottom: 25px;
     box-sizing: border-box;
     color: var(--white);
}
 .tribe-fourth-part-content{
     display: flex;
}
 .tribe-left-content{
     padding: 19px 0px 24px 5px;
}
 .tribe-right-content h4{
     color: var(--white);
     font-family: var(--big-bottom);
     font-weight: normal;
     margin: 12px 40px 20px 10px;
     font-size: 15px;
}
 .tribe-connecting-dot-section{
     text-align: center;
     position: relative;
}
/* .tribe-connecting-dot-section h2{
     color: var(--dark-blue);
     font-family: var(--big-bottom);
     font-size: 32px;
     line-height: 50px;
     margin-bottom: 60px;
     font-weight: normal;
}*/
    .tribe-circle-section{
        margin-top: 78px;
    }

 .tribe-circle-section h4{
     font-family: var(--big-bottom);
     color: var(--dark-blue);
     font-weight: normal;
     position: absolute;
     top: 337px;
    width: 100%;
}
 .tribe-main-circle{
     position: relative;
     display: inline-block;
     vertical-align: top;
     margin: 0 43px 108px;
}
 .tribe-main-circle > a{
     font-family: var(--big-bottom);
     color: var(--white);
     background: #AE023C;
     height: 185px;
     width: 185px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     line-height: 1.5;
}
 .tribe-circle-content{
     border-radius: 50%;
     background: #000000;
     width: 130px;
     height: 130px;
     box-sizing: border-box;
     padding: 20px;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 4px solid #fff;
     left: -98px;
     position: absolute;
     top: -113px;
     transition: all 0.3s;
     transform: scale(0);
     transform-origin: right bottom;
     z-index: -1;
     opacity: 0;
}
 .tribe-circle:nth-child(2) .tribe-circle-content{
     left: -80px;
     position: absolute;
     top: -120px;
}
 .tribe-circle:nth-child(3) .tribe-circle-content{
     left: -50px;
     position: absolute;
     top: -120px;
}
 .tribe-circle:nth-child(4) .tribe-circle-content{
     left: -30px;
     position: absolute;
     top: -120px;
}
 .tribe-circle:nth-child(5) .tribe-circle-content{
     left: -10px;
     position: absolute;
     top: -110px;
}
 .tribe-circle-content .tribe-content-title {
     font-family: var(--big-bottom);
     line-height: 1.5;
     text-transform: capitalize;
}
 .tribe-main-circle:nth-child(1) .tribe-circle-content {
     background: var(--blood-red);
}
 .tribe-main-circle:nth-child(2) .tribe-circle-content {
     background: #ED7D31;
}
 .tribe-main-circle:nth-child(3) .tribe-circle-content {
     background: #00AF50;
}
 .tribe-main-circle:nth-child(4) .tribe-circle-content {
     background: #E8E90F;
}
 .tribe-main-circle:nth-child(5) .tribe-circle-content {
     background: #9D00B0;
}
 .tribe-main-circle:nth-child(6) .tribe-circle-content {
     background: #0170C1;
}
 .tribe-main-circle:nth-child(7) .tribe-circle-content {
     background: #01B0F1;
}
 .tribe-circle:hover .tribe-circle-content{
     transform: scale(1);
     opacity: 1;
     z-index: 9999;
}
 .tribe-main-circle span{
     padding: 15px;
}
 .tribe-circle {
     position: absolute;
}
 .tribe-circle > a{
     display: block;
     width: 20px;
     height: 20px;
     border-radius: 50%;
}
 .tribe-c1{
     top: -20px;
     left: 26px;
}
 .tribe-c2{
     top: -30px;
     left: 64px;
}
 .tribe-c3{
     top: -29px;
     left: 106px;
}
 .tribe-c4{
     left: 143px;
     top: -19px;
}
 .tribe-c5{
     left: 175px;
     top: 5px;
}
 .tribe-c6{
     left: 191px;
     top: 36px;
}
 .tribe-c7{
     left: 198px;
     top: 69px;
}
 .tribe-c8{
     left: 198px;
     top: 102px;
}
 .tribe-c9{
     left: 186px;
     top: 133px;
}
 .tribe-c10{
     left: 169px;
     top: 157px;
}
 .tribe-inactive-circle > a{
     background: #E9BACC !important;
     pointer-events: none;
}
 .tribe-inactive-circle .tribe-circle-content > a{
     pointer-events: none;
}
 .tribe-main-circle:nth-child(1) a {
     background: var(--blood-red);
}
 .tribe-main-circle:nth-child(2) a {
     background: #ED7D31;
}
 .tribe-main-circle:nth-child(3) a {
     background:#00AF50;
}
 .tribe-main-circle:nth-child(4) a {
     background:#E8E90F;
}
 .tribe-main-circle:nth-child(5) a {
     background: #9D00B0;
}
 .tribe-main-circle:nth-child(6) a {
     background:#0170C1;
}
 .tribe-main-circle:nth-child(7) a {
     background:#01B0F1;
}
 .tribe-main-circle:nth-child(8) a {
     background:#660088;
}
 .tribe-expert-insight-section-p,.tribe-expert-insight-section{
     border-top: 3px dashed var(--dark-blue);
}

 .tribe-connecting-dot-section h2,.tribe-expert-insight-section h2, .tribe-expert-insight-section-p h2,.tribe-expert-insight-section h2,.tribe-sensory-spark-section h2{
     font-family: var(--big-bottom);
     color: var(--dark-blue);
     font-size: 50px;
     text-align: center;
     line-height: 70px;
     margin-bottom: 20px;
}
.tribe-expert-content-section{
    display: flex;
}

 .tribe-expert-content-p{
     width: 170px;
     background: var(--dark-blue);
     padding:20px;
     border-radius: 15px;
     text-align: center;
     margin: 30px 0px 30px 20px;
}
.tribe-inactive{
    background-color: #808ea7;
}
.tribe-inactive img{
    filter: grayscale(100%);
}
/* .tribe-expert-content-p > a{
     width: 170px;
     background: var(--dark-blue);
     padding:20px;
     display: inline-block;
     border-radius: 15px;
     text-align: center;
     margin: 30px 0px 30px 20px;
}*/

/*.tribe-expert-content-p:last-child{
     background-color: #808ea7;
}*/
 .tribe-expert-content-p h6{
     line-height: 1.5;
     padding-top: 15px;
     font-weight: normal;
     font-family: var(--vag-rounded);
     letter-spacing: 1px;
}

 .tribe-expert-image-p img{
     width: 100%;
     height: 140px;
     object-fit: cover;
     object-position: center;
}

 .tribe-expert-bio{
     display: flex;
     margin-top: 50px;
}
 .tribe-expert-image img{
     width: 175px;
     height: auto;
     object-fit: cover;
     object-position: center;
     border-radius: 15px;
}
 .tribe-expert-dscription{
     color: var(--dark-blue);
     font-family: var(--vag-rounded);
     padding: 25px 0px 0px 25px;
     line-height: 1.6;
     /*margin-top: -45px;*/
}
 .tribe-expert-dscription > h4{
     text-align: center;
     margin-top: 10px;
     font-size: 20px;
}
 .tribe-expert-dscription > h3{
     margin-bottom: 10px;
     font-size: 20px;
}
    .tribe-pdf-part{
        margin-left: 10px;
    }
    .tribe-pdf-part img{
        width: 80px;
        height: auto;
        object-position: center;
    }
    .tribe-pdf-part img:hover{
        opacity: 0.5;
    }
/* .tribe-pdf-part{
     background: #01B0F1;
     color: var(--white);
     width: 98px;
     height: 98px;
     border-radius: 20px;
     text-align: center;
     margin-left: 10px;
}
 .tribe-pdf-part > h3{
     font-family: var(--big-bottom);
     line-height: 1.8;
     font-weight: normal;
     font-size: 10px;
     padding-top: 19px;
     padding-bottom: 17px;
}
 .tribe-dow-btn{
     font-family: var(--big-bottom);
     font-weight: normal;
     font-size: 8px;
     border: 2px solid var(--white);
     border-radius: 5px;
     display: inline-block;
     line-height: 12px;
}
 .tribe-dow-btn:hover{
     background-color: rgba(0,0,0,0.2);
}*/
 .tribe-expert-bot-section{
     display: flex;
     margin: 15px 0px;
}
 .tribe-video-part{
     flex: 0 0 calc(100% - 108px);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
 .tribe-video-part img{
     height: auto;
     object-fit: cover;
     object-position: center;
     width: 100%;
}
 .tribe-video-part a{
     flex: 0 0 24%;
}
 .tribe-sensory-spark-section{
     border-top: 3px dashed var(--dark-blue);
     margin-bottom: 20px;
}
 .tribe-sensory-spark-section h2{
     margin-bottom: 40px;
}
 .tribe-outer-part{
     width: 612px;
     height: 336px;
     background: #2F6CA5;
     margin: 0 auto;
     position: relative;
     border-radius: 10px;
}
 .tribe-inner-part{
     width: 512px;
     height: 265px;
     background: var(--white);
     position: absolute;
     top: 31px;
     left: 51px;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .tribe-play-btn{
     background: #2F6CA5;
     width: 250px;
     text-align: center;
     padding: 25px 25px 44px;
     border-radius: 15px;
     font-family: var(--big-bottom);
     display: inline-block;
     line-height: 1;
     font-size: 25px;
}
 .tribe-rect-part{
     margin-top: 15px;
}
 .tribe-small-rect{
     width: 90px;
     height: 20px;
     background: #2F6CA5;
     margin: 0 auto;
}
 .tribe-large-rect-part{
     margin-top: 15px;
}
 .tribe-large-rect{
     width: 368px;
     height: 20px;
     background: #2F6CA5;
     margin: 0 auto;
}
 #footer{
     background: #660088;
     font-family: var(--vag-rounded);
     font-size: 18px;
     font-weight: bold;
     padding: 15px 25px 15px 0px;
     text-align: right;
     color: var(--white);
}
 #footer a{
     font-size: 39px;
}
#tribe-profile-livesearch {
  background: var(--dark-blue);
  position: relative;
  z-index: 99;
}
.tribe-search_name{
   padding: 5px 8px;
}
.tribe-search_name:hover {
   background-color: var(--white);
   color : var(--dark-blue);
   display: block;
   width: 100%;
}
/*popup*/
.tribe-popup-content{
    display: none;
    position:fixed;
    z-index:999;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    overflow-x: hidden;
    overflow-y:auto;
}
.tpc-inner{
  display:flex;
  justify-content:center;
  align-items: center;
  width:100%;
  min-height:100vh;

}
.tribe-close-btn{
    position: absolute;
    background: #fff;
    width: 35px;
    font-size: 35px;
    font-weight: 400;
    color: #000;
    height: 35px;
    border-radius: 50%;
    right: -8px;
    top: -12px;
    border: 0px;
    z-index: 99;
    line-height: 35px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}
.tribe-video-content{
    position: relative;
    width:100%;
    max-width:830px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:15px;
}
.tribe-video-embed{
    width:100%;
    display: block;
    position: relative;
    padding-bottom:57%;
}
.tribe-video-embed iframe{
    position: absolute;
    border: 0px;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
}







 @media(max-width: 1350px) and (min-width: 1200px){
     .tribe-header-container{
         max-width: 935px;
         width: 100%;
    }
     .tribe-top-text{
         padding-left: 16px;
    }
     .tribe-top-text h1{
         font-size: 32px;
    }
     .tribe-second-part{
         padding-left: 30px;
    }
     .tribe-third-part img{
         padding-left: 32px;
    }
     .tribe-fourth-part{
         padding-left: 4px;
         margin-left: 41px;
    }
     .tribe-right-content h4{
         margin: 15px 20px 20px 10px;
         font-size: 12px;
    }
    /* .tribe-circle-section h4{
         left: 342px;
    }*/
     .tribe-expert-image img{
         max-width: 145px;
         margin-top: 15px;
    }
     .tribe-expert-dscription > h3{
         margin-bottom: 5px;
    }
     .tribe-expert-dscription > h4{
         margin-top: 5px;
    }
}

 @media(max-width: 1199px) and (min-width: 1066px){
     .tribe-header-container{
         max-width: 810px;
         width: 100%;
    }
     .tribe-main-logo img {
         width: 115px;
    }
     .tribe-main-logo{
         margin-top: 46px;
    }
     .tribe-top-text{
         padding-left: 13px;
    }
     .tribe-top-text h1{
         font-size: 26px;
    }
     .tribe-search-bar>input{
         padding-right: 29px;
    }
     .tribe-fa{
         right: 8px;
         top: 8px;
    }
     .tribe-first-part img{
         width: 210px;
    }
    .tribe-top-part img, .tribe-bot-part img{
        width: 106px;
    }

     .tribe-bot-part{
         margin-top: 11px;
    }
     .tribe-second-part{
         padding-left: 30px;
    }
     .tribe-third-part img{
         padding-left: 22px;
    }
     .tribe-fourth-part{
         padding-left: 4px;
         margin-left: 27px;
    }
     .tribe-right-content h4{
         margin: 22px 20px 13px 10px;
         font-size: 8px;
    }
     .tribe-white-box > img{
         width:70px;
         height: 70px;
    }
     .tribe-circle-section h4{
         left: 0;
         width: 100%;
         top: 597px;
    }
     .tribe-expert-image img{
         max-width: 145px;
         margin-top: 15px;
    }
     .tribe-expert-dscription > h3{
         margin-bottom: 5px;
    }
     .tribe-expert-dscription > h4{
         margin-top: 5px;
    }
}



 @media(max-width: 1065px) and (min-width: 992px){
     .tribe-header-container{
         max-width: 735px;
         width: 100%;
    }
     .tribe-main-logo img {
         width: 115px;
    }
     .tribe-main-logo{
         margin-top: 43px;
    }
     .tribe-top-text{
         padding-left: 8px;
    }
     .tribe-top-text h1{
         font-size: 25px;
    }
     .tribe-search-bar>input{
         padding-right: 29px;
    }
     .tribe-fa{
         right: 8px;
         top: 8px;
    }
     .tribe-search-bar > input::placeholder{
         font-size: 11px;
    }
     .tribe-first-part img{
         width: 230px;
    }
     .tribe-bot-part{
         margin-top: 11px;
    }
     .tribe-second-part{
         padding-left: 30px;
    }
     .tribe-third-part img{
         padding-left: 22px;
         width: 107px;
    }
     .tribe-fourth-part{
         padding-left: 4px;
         margin-left: 27px;
    }
     .tribe-right-content h4{
         margin: 22px 5px 13px 10px;
         font-size: 7px;
    }
     .tribe-white-box > img{
         width:65px;
         height: 65px;
    }
     .tribe-circle-section h4{
         left: 0px;
         width: 100%;
         top: 612px;
    }
     .tribe-right-content>input{
         font-size: 7px;
    }
     .tribe-expert-image img{
         max-width: 145px;
         margin-top: 15px;
    }
     .tribe-expert-dscription > h3{
         margin-bottom: 5px;
    }
     .tribe-expert-dscription > h4{
         margin-top: 5px;
    }
    .tribe-connecting-dot-section h2,.tribe-expert-insight-section h2, .tribe-expert-insight-section-p h2,.tribe-expert-insight-section h2,.tribe-sensory-spark-section h2{
        font-size: 35px;
    }
    .tribe-top-part img, .tribe-bot-part img{
        width: 101px;
    }
    .tribe-first-part img{
        width: 218px;
    }
  /*  .tribe-circle-images{
        margin-top: 61px;
    }*/
}
 @media(max-width: 991px){
     .tribe-header-container{
         max-width: 700px;
         width: 100%;
    }
     .tribe-logo-link{
         display: flex;
    }
     #header{
         justify-content: center;
         margin-top: -25px;
    }
     .tribe-main-logo{
         position: relative;
         max-width: 700px;
         margin: 0 auto;
    }
     .tribe-main-logo img{
         width: 110px;
         margin-top: 10px;
    }
     .tribe-top-text{
         flex:0 0 100%;
         text-align: center;
    }
     .tribe-top-text h1{
         font-size: 30px;
    }
     .tribe-search-bar{
         flex:0 0 60%;
    }
     .tribe-mid-part{
         flex-wrap: wrap;
         justify-content: center;
    }
     .tribe-second-part{
         flex: 0 0 25%;
    }
     .tribe-third-part{
         flex: 0 0 25%;
    }
     .tribe-third-part img{
         padding-left: 20px;
    }
     .tribe-fourth-part{
         flex: 0 0 70%;
         margin-top: 25px;
         margin-left: 0;
    }
     .tribe-circle-section h4{
         left: 0px;
         width: 100%;
         top: 628px;
    }
     .tribe-connecting-dot-section h2,.tribe-expert-insight-section-p h2,.tribe-expert-insight-section h2, .tribe-sensory-spark-section h2{
         font-size: 30px;
    }
     .tribe-expert-image img{
         max-width: 150px;
         padding-left: 10px;
    }
     .tribe-expert-dscription > h3{
         font-size: 18px;
        /* margin-top: -20px;*/
    }
     .tribe-expert-dscription > p{
         font-size: 15px;
    }
     .tribe-expert-dscription > h4{
         font-size: 18px;
    }
     .tribe-video-part a{
         flex: 0 0 32.tribe-33%;
         padding-left: 10px;
    }
     .tribe-video-part{
         justify-content: unset;
    }
    /* .tribe-expert-content-p{
         margin: 0px 0px 30px 20px;
    }*/
     .tribe-sensory-spark-section h2{
         margin-bottom: 20px ;
    }
    .tribe-expert-dscription{
        margin-top: -28px;
    }
     #footer a{
         font-size: 25px;
    }
     .tribe-circle-images{
        margin-top: 61px;
    }

}
 @media(max-width: 767px){
     .tribe-header-container{
         max-width: 700px;
         width: 100%;
         padding: 0 15px;
         box-sizing: border-box;
    }
     .tribe-main-logo img{
         left: 21px;
         top: 45px;
    }
     .tribe-top-text h1{
         font-size: 28px;
    }
     .tribe-main-circle > a{
         font-size: 16px;
    }
     .tribe-third-part img{
         padding-left: 20px;
         padding-top: 12px;
    }
     .tribe-mid-part > div{
         padding: 8px 15px;
         margin-left: 0px;
         margin-right: 0px;
         box-sizing: border-box;
    }
     .tribe-search-bar > input::placeholder{
         font-size: 10px;
    }
     .tribe-connecting-dot-section h2,.tribe-expert-insight-section-p h2,.tribe-expert-insight-section h2, .tribe-sensory-spark-section h2{
         font-size: 20px;
    }
     .tribe-right-content h4{
         font-size: 14px;
    }
     .tribe-outer-part{
         width: 100%;
         max-width: 320px;
         height: auto;
         padding: 25px;
         box-sizing: border-box;
    }
     .tribe-inner-part{
         position: relative;
         width: 100%;
         height: auto;
         padding: 50px 20px;
         box-sizing: border-box;
         left: 0;
         top: 0;
    }
     .tribe-play-btn{
         width: unset;
         font-size: 16px;
         padding: 15px 35px 30px;
    }
     .tribe-small-rect{
         max-width: 20%;
    }
     .tribe-large-rect{
         max-width: 50%;
    }
     .tribe-fourth-part{
         flex: 0 0 100%;
         height: auto;
    }
     .tribe-left-content{
         padding: 0px;
    }
     .tribe-search-bar > input::placeholder{
         font-size: 10px;
    }
     .tribe-right-content h4{
         margin: -9px 0 0px 10px;
         font-size: 10px;
    }
     .tribe-white-box > img{
         width: 65px;
         height: 65px;
    }
     #footer a{
         font-size: 20px;
    }
     .tribe-connecting-dot-section h2{
         margin-bottom: 0px;
    }
  /*   .tribe-expert-content-p{
         margin:15px;
    }*/
   /*  .tribe-expert-insight-section{
         margin-left: -15px;
         margin-right: -15px;
    }*/
     .tribe-expert-image img {
         max-width: 130px;
         margin-top: -18px;
    }
   /*
   */
     .tribe-expert-dscription > h4{
         font-size: 16px;
         margin-top: 5px;
    }
     .tribe-expert-bot-section{
         margin-bottom: 10px;
         margin-top: 8px;
    }
     .tribe-third-part img{
         padding: 0px;
    }
     .tribe-circle-section h4{
         position: relative;
         top: 288px;
         left: 0px;
         margin-bottom: 40px;
    }
     .tribe-pdf-part img{
        max-width: 60px;
        height: auto;
        object-position: center;
    }
    .tribe-circle-section{
        margin-top: 0px;
    }
    .tribe-top-part img, .tribe-bot-part img{
        max-width: 108px;
        width: 100%;
    }
}

 @media(max-width: 704px){
     .tribe-video-part a{
         flex: 0 0 49%;
    }
     .tribe-pdf-part{
         margin-right: 10px;
    }
  /*   .tribe-pdf-part > h3{
         font-size: 9px;
    }
     .tribe-pdf-part .tribe-dow-btn{
         font-size: 7px;
    }*/
}
@media(max-width: 520px){
    .tribe-expert-content-section{
        display: block;
    }
    .tribe-expert-content-p{
        margin: 0 auto 20px;
    }
     .tribe-pdf-part img{
        max-width: 40px;
        height: auto;
        object-position: center;
    }
    .tribe-first-part img{
        max-width: 129px;
        width: 100%;
    }
    .tribe-third-part img{
        max-width: 90px;
        width: 100%;
    }
}


 @media(max-width: 520px){
     .tribe-connecting-dot-section h2, .tribe-expert-insight-section-p h2,.tribe-expert-insight-section h2, .tribe-sensory-spark-section h2{
         font-size: 16px;
    }
     .tribe-main-circle{
         margin-bottom: 60px;
    }
     .tribe-search-bar{
         flex: 0 0 95%;
    }
     #footer a{
         font-size: 18px;
    }
     .tribe-expert-dscription > h3{
         font-size: 16px;
    }
     .tribe-expert-image img{
         max-width: 120px;
    }
     .tribe-expert-dscription > p{
         font-size: 13px;
    }
     .tribe-expert-dscription{
         padding-left: 15px;
    }
     .tribe-expert-dscription > h4{
         font-size: 14px;
         text-align: left;
    }
    /* .tribe-pdf-part > h3{
         font-size: 7px;
    }*/
    .tribe-circle-section h4{
        top:-5px;
    }
    /* .tribe-pdf-part .tribe-dow-btn{
         font-size: 6px;
    }*/
}

